header {
	margin: auto;
	text-align:center;
}

.error{
	color: red;
	font-weight: bold;
}
.error > span{
	color: green;
	font-weight: bold;
}
.logout{
	float: right;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
}